<section class="card">
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate soluta tempora quibusdam alias minus, facilis
			laudantium suscipit magni in labore quasi? Reiciendis saepe repudiandae ducimus, dolorem veritatis ipsum ipsam
			doloremque?</p>
	</div>
</section>