<div class="jumbotron mt-4">
	<h1 class="display-a">Notes App Nodejs and Mongodb</h1>
	<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis rem nulla impedit exercitationem
		aspernatur, molestias quo ipsum repudiandae voluptate excepturi facere commodi fugiat quas eum perspiciatis, optio,
		modi saepe veniam.</p>
	<hr class="my-4">
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, earum adipisci! Quam odit animi ut veritatis
		exercitationem odio dolore. Repellat veritatis iure dignissimos quis iste fugit, qui rerum a ipsa?</p>
	<a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>